<article class="task">
  <h1 class="name-display" data-id="<%= id %>"><%= name %></h1>
  <button class="edit-button" data-id="<%= id %>">Edit</button>
  <input
    style="display: none"
    type="input"
    class="name-edit"
    data-id="<%= id %>"
    name="taskName"
    value="<%= name %>"
    placeholder="name"
  />
  <button style="display: none" class="cancel-button" data-id="<%= id %>">
    Cancel
  </button>
  <button style="display: none" class="ok-button" data-id="<%= id %>">
    OK
  </button>
</article>
